@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-jost), sans-serif;
  --font-display: var(--font-montserrat), sans-serif;

  --color-dse-navy:          #1C2C35;
  --color-dse-navy-deep:     #18252D;
  --color-dse-teal:          #177072;
  --color-dse-teal-dark:     #115156;
  --color-dse-archmother:    #21748E;
  --color-dse-green-neon:    #B3CE3C;
  --color-dse-green-ghastly: #759F3F;
  --color-dse-green-dark:    #2C763B;
  --color-dse-green-darkest: #0B3F08;
  --color-dse-beige:         #F1DAB6;
  --color-dse-beige-dark:    #9B846D;
  --color-dse-beige-darkest: #826E5C;
  --color-dse-brown:         #844E18;
}

body {
  font-family: var(--font-sans);
}
